# SPDX-License-Identifier: GPL-2.0+

menuconfig SOC_TI
	bool "TI SOC drivers support"

if SOC_TI

config TI_K3_NAVSS_PSILCFG
	bool "TI K3 Packet Streaming Interface Link (PSI-L)"
	depends on ARCH_K3
	select MISC
	default n
	help
	  Say y here to support the TI K3 Packet Streaming Interface
	  Link (PSI-L)

config TI_K3_NAVSS_RINGACC
	bool "K3 Ring accelerator Sub System"
	depends on ARCH_K3
	select MISC
	default n
	help
	  Say y here to support the K3 AM65x Ring accelerator module.
	  The Ring Accelerator (RINGACC or RA)  provides hardware acceleration
	  to enable straightforward passing of work between a producer
	  and a consumer. There is one RINGACC module per NAVSS on TI AM65x SoCs
	  If unsure, say N.

config TI_K3_NAVSS_RINGACC_DEBUG
	bool "K3 Ring accelerator Sub System tests and debug"
	depends on TI_K3_NAVSS_RINGACC
	default n

endif # SOC_TI
